<div class="main-content">
  <div class="section content section-content-p-50">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products " class="col-md-3">

          <div class="product-box">
            <a routerLink="/product/{{ product.id }}">
              <img src="{{ product.imageUrl }}" class="img-responsive">
            </a>

            <a routerLink="/product/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>

            <div class="price"> {{product.unitPrice | currency:'USD' }}</div>


            <button  (click)="addToCart(product)"  class="btn btn-primary btn-sm">Add to cart</button>

          </div>


        </div>

        <!-- if no products found -->
        <div *ngIf=" products?.length == 0" class="alert alert-warning col-md-12 " role="alert">
          No Products Found ......
        </div>





      </div>


          <!-- begin footer -->

              <div class="footer-pagination" >
                <div class="row">
                  <div class="col-md-6"></div>

                  <div class="col-md-6"></div>
                    <div class="row">
                        <div class="col-md-9" style="padding-left: 30%" >
                          <ngb-pagination [(page)]="thePageNumber"
                                           [pageSize]="thePageSize"
                                           [collectionSize]="theTotalElements"
                                           [maxSize]="7"
                                           [boundaryLinks]="true"
                                           (pageChange)="listProducts()" >

                          </ngb-pagination>
                        </div>



                    </div>

                </div>
                <div class="col-md-3 mt-2" style="text-align: right;  ">
                  <span class="mr-3" style="margin: 5px;">Page Size</span>
                  <select (change)="updatePageSize($event.target.value)">
                           <option>2</option>
                           <option selected="true">5</option>

                           <option>10</option>

                           <option>15</option>

                           <option>20</option>

                   </select>
               </div>
              </div>

          <!-- end footer  -->
    </div>

  </div>
</div>
